# fly.toml app configuration file generated for clarity-webapp on 2025-05-14T15:51:38-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'clarity-webapp'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile'

  [build.args]
    VITE_SUPABASE_ANON_KEY = '$VITE_SUPABASE_ANON_KEY'
    VITE_SUPABASE_URL = '$VITE_SUPABASE_URL'
    VITE_API_BASE_URL = '$VITE_API_BASE_URL'

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1

[[statics]]
  guest_path = '/usr/share/nginx/html'
  url_prefix = '/'
