# fly.toml app configuration file generated for clarity-chatserver on 2025-05-14T15:36:15-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'clarity-chatserver'
primary_region = 'iad'

[build]
  dockerfile = 'chatServer/Dockerfile'

[env]
  PORT = '3001'
  LLM_AGENT_SRC_PATH = 'src'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
